* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #006400, #9ACD32);
    color: #000;
}

header {
    background-color: #008000;
    padding: 20px 0;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 20px;
}

.imagem-topo {
    max-width: 90%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #000;
}

.texto {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    color: #003300;
    font-size: 1em;
    font-weight: bold;
}

footer {
    background-color: #8B4513;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
}
